:host {
  display: block;
  width: 100%;
}

.pulse-text {
  animation: pulse-animation 2s infinite;
  display: inline-block; /* Required for transform to work on inline elements */
}

@keyframes pulse-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
