:host {
  display: block;
  width: 100%;
}

.stat-dl {
  margin: 0;
}
dd {
  margin-inline-start: 0;
}

.pulse-text {
  animation: pulse-animation 2s infinite;
  display: inline-block;
}

@keyframes pulse-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
