name: Tidy Code CI

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node & pnpm
        uses: actions/setup-node@v4
        with:
          node-version: '20'
      - run: npm install -g pnpm

      - name: Install Dependencies
        run: pnpm install

      - name: Build Server (NestJS)
        run: pnpm --filter server build

      - name: Build Client (Angular)
        run: pnpm --filter client build
